html {
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#Banner {
    background-color: gray;
    height: 70px;
    width: 100%;
}

#Title {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
}

#ShoppingCart {
    width: 80px;
    height: 100px;
    float: right;
    margin-right: 20px;
    margin-top: -12px;
}

#logoutKnop {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}

#bestelgeschiedenisKnop {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#HomeKnop {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#Items {
    float: right;
    margin-right: 20px;
    margin-top: 24px;
}

#ShoppingCartInfo {
    width: 80px;
}