html {
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#Banner {
    background-color: gray;
    height: 70px;
    width: 100%;
}

#Title {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
}

.SchoenenImage {
    width: 130px;
    height: 107px;
    border-radius: 25px;
    background-color: gray;
    padding: 13px 10px 18px;
}

.Align {
    margin-left: 10px;
}

.SchoenRegel {
    height: 300px;
    width: 1000px;
    margin-left: 28%;
    margin-top: 50px;;
    border: black;
}

.Schoen {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    color: #2e3f8f;
    width: 220px;
}

.ButtonDiv {
    display: block;
    padding: 10px;
    background-color: #4d74e2;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 0px;
    width: 152px;
}

#Links {
    margin-top: 5%;
    margin-left: 23%;
    text-decoration: none;
}

#ShoppingCart {
    width: 80px;
    height: 100px;
    float: right;
    margin-right: 20px;
    margin-top: -12px;
}

#logoutKnop {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}

#bestelgeschiedenisKnop {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#Items {
    float: right;
    margin-right: 20px;
    margin-top: 24px;
}

#ShoppingCartInfo {
    width: 80px;
}

#Links a {
    background-color: lightblue;
    padding: 5px;
    text-decoration: none;
}

#Links a:hover {
    background-color: darkblue;
    color: white;
}