body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

html {
    background-color: white;
}

#Banner {
    background-color: gray;
    height: 70px;
    width: 100%;
}

#Title {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
}


h2 {
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.cart-item .details {
    flex: 1;
}

.cart-item .details h3 {
    margin: 0;
}

.cart-item .details p {
    margin: 5px 0;
}

.cart-item .price {
    font-weight: bold;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.cart-total p {
    margin: 5px 0;
}

.cart-total .total-price {
    font-weight: bold;
}

.checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4d74e2;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-btn:hover {
    background-color: #2e3f8f;
}

#WinkelMand {
    margin: 20px;
}

h2 {
    margin-top: 0;
}

#logoutKnop {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}

#bestelgeschiedenisKnop {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#Title {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
}

#ShoppingCart {
    width: 80px;
    height: 100px;
    float: right;
    margin-right: 20px;
    margin-top: -12px;
}